## Deliverable 3. Create a Travel Itinerary Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import gmaps.datasets
import numpy as np

# Import API key
from config import g_key

# Configure gmaps
gmaps.configure(api_key=g_key)

In [2]:
# 1. Read the WeatherPy_vacation.csv into a DataFrame.
vacation_df = pd.read_csv("WeatherPy_vacation.csv")
vacation_df.head()

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,10,Lubao,PH,80.15,broken clouds,14.9167,120.5500,Hacienda Gracia
1,11,Bambous Virieux,MU,75.22,few clouds,-20.3428,57.7575,Casa Tia Villa
2,17,Lorengau,PG,81.27,overcast clouds,-2.0226,147.2712,Lorengau Harbourside Hotel
3,18,Namatanai,PG,80.44,overcast clouds,-3.6667,152.4333,Seagulls Inn Namatani
4,21,Chuy,UY,76.66,clear sky,-33.6971,-53.4616,Nuevo Hotel Plaza

In [3]:
# 2. Using the template add the city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}Â°F</dd>
</dl>
"""

# 3a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_df.iterrows()]

# 3b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_df[["Lat", "Lng"]]

In [4]:
# 4a. Add a marker layer for each city to the map.
description= vacation_df["Current Description"]
fig= gmaps.figure(center=(30,31), zoom_level= 1.5)
heat_layer=gmaps.heatmap_layer(locations, dissipating= False, max_intensity=300, point_radius=4)
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 4b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))

In [5]:
# From the map above pick 4 cities and create a vacation itinerary route to travel between the four cities. 
# 5. Create DataFrames for each city by filtering the 'vacation_df' using the loc method. 
# Hint: The starting and ending city should be the same city.

vacation_start = vacation_df.loc[vacation_df["City"] == "Lompoc"]
vacation_end = vacation_df.loc[vacation_df["City"] == "Lompoc"]
vacation_stop_1 = vacation_df.loc[vacation_df["City"] == "San Patricio"]
vacation_stop_2 = vacation_df.loc[vacation_df["City"] == "Sulphur"]
vacation_stop_3 = vacation_df.loc[vacation_df["City"] == "Bayshore Gardens"]

In [6]:
# 6. Get the latitude-longitude pairs as tuples from each city DataFrame using the to_numpy function and list indexing.

start = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
end = vacation_start["Lat"].to_numpy()[0], vacation_start["Lng"].to_numpy()[0]
print(f'Start: {vacation_start}, End: {vacation_end}')

stop_1 = vacation_stop_1["Lat"].to_numpy()[0], vacation_stop_1["Lng"].to_numpy()[0]
stop_2 = vacation_stop_2["Lat"].to_numpy()[0], vacation_stop_2["Lng"].to_numpy()[0]
stop_3 = vacation_stop_3["Lat"].to_numpy()[0], vacation_stop_3["Lng"].to_numpy()[0]
print(f'Stop 1: {vacation_stop_1}, Stop 2: {vacation_stop_2}, Stop 3: {vacation_stop_3}')

Start:     City_ID    City Country  Max Temp Current Description      Lat       Lng  \
55      191  Lompoc      US     87.13           clear sky  34.6391 -120.4579

                                  Hotel Name
55  Holiday Inn Express Lompoc, an IHG Hotel  , End:     City_ID    City Country  Max Temp Current Description      Lat       Lng  \
55      191  Lompoc      US     87.13           clear sky  34.6391 -120.4579

                                  Hotel Name
55  Holiday Inn Express Lompoc, an IHG Hotel
Stop 1:     City_ID          City Country  Max Temp Current Description     Lat  \
59      197  San Patricio      US     84.61           clear sky  28.017

        Lng          Hotel Name
59 -97.5169  Motel 6 Sinton, TX  , Stop 2:     City_ID     City Country  Max Temp Current Description      Lat      Lng  \
33      118  Sulphur      US     75.18           clear sky  30.2366 -93.3774

                                           Hotel Name
33  Fairfield Inn & Suites by Marriott Lake Charle...  , Stop 3:     City_ID              City Country  Max Temp Current Description      Lat  \
47      166  Bayshore Gardens      US     82.17     overcast clouds  27.4253

        Lng                             Hotel Name
47 -82.5904  Ramada by Wyndham Sarasota Waterfront

In [7]:
# 7. Create a direction layer map using the start and end latitude-longitude pairs,
# and stop1, stop2, and stop3 as the waypoints. The travel_mode should be "DRIVING", "BICYCLING", or "WALKING".

fig = gmaps.figure()
vacation_itinerary = gmaps.directions_layer(
        start, end, waypoints=[stop_1, stop_2, stop_3],
        travel_mode='DRIVING')

fig.add_layer(vacation_itinerary)
fig

Figure(layout=FigureLayout(height='420px'))

In [8]:
# 8. To create a marker layer map between the four cities.
#  Combine the four city DataFrames into one DataFrame using the concat() function.
vacation_itinerary_df = pd.concat([vacation_start,vacation_stop_1,vacation_stop_2,vacation_stop_3,vacation_end],ignore_index=True)
vacation_itinerary_df

,City_ID,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,191,Lompoc,US,87.13,clear sky,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"
1,197,San Patricio,US,84.61,clear sky,28.0170,-97.5169,"Motel 6 Sinton, TX"
2,118,Sulphur,US,75.18,clear sky,30.2366,-93.3774,Fairfield Inn & Suites by Marriott Lake Charle...
3,166,Bayshore Gardens,US,82.17,overcast clouds,27.4253,-82.5904,Ramada by Wyndham Sarasota Waterfront
4,191,Lompoc,US,87.13,clear sky,34.6391,-120.4579,"Holiday Inn Express Lompoc, an IHG Hotel"

In [9]:
# 9 Using the template add city name, the country code, the weather description and maximum temperature for the city. 
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Current Weather</dt><dd>{Current Description} and {Max Temp}Â°F</dd>
</dl>
"""

# 10a Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in vacation_itinerary_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = vacation_itinerary_df[["Lat", "Lng"]]
vacation_itinerary_df[["Lat", "Lng"]]

       Lat       Lng
0  34.6391 -120.4579
1  28.0170  -97.5169
2  30.2366  -93.3774
3  27.4253  -82.5904
4  34.6391 -120.4579

In [20]:
# 11a. Add a marker layer for each city to the map.

fig= gmaps.figure()
marker_layer=gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(marker_layer)

# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))